{% extends 'base.html' %}
<html>
<head>
  <title>{% block title %}Untitled{% endblock %} | Todo list with permissions</title>
  
</head>
<body>
<h1>EXAMEN LP2 Registro Usuarios</h1>
<li><a href="{% url 'app_list' %}">REGISTRO</a></li>
{% if perms.userprofile.add_app %}
<li><a href="{% url 'app_create' %}">AGREGAR</a></li>
{% endif %}
<hr/>
{% block content %}
The end user should never ever see this!
{% endblock %}
</body>
</html>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera página con estilo</title>
  <style type="text/css">
  body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #000000 }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
</head>

<body>
