 {% if form.errors %}

        <p>INTENTE DE NUEVO PLEASE...</p>
        
    {% endif %}
 
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>Usuario :</th><td>{{form.username}}</td>
            </tr>
           
             <tr>
                <th>Contraseña :</th><td>{{form.password}}</td>
            </tr>
        </table>
 
        <input type="submit" value="INGRESAR"/> <input type="hidden" name="next"
                                                    value="{{ next }}"/>
    </form>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Mi primera página con estilo</title>
  <style type="text/css">
  body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #000000 }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
</head>

<body>
